html, body {
    overflow: hidden;
    height: 100%;
}

body {
    background-image: url("img/lightbg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.darkmode {
    color: white;
    background-image: url("img/darkbg.webp");
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: rgba(255,255,255, 0.8);
}

body.darkmode header {
    background-color: rgba(0, 0, 0, 0.5);
}

.ionicon {
    stroke: black;
    fill: black;
    width: 100px;
    height: 100px;
}

body.darkmode .ionicon {
    stroke: white;
    fill: white;
}

.svg-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
}

.svg-button svg {
    display: block;
}

.hidden {
    position: absolute;
    visibility: hidden;
}

#modalAndContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    font-family: Arial, sans-serif;
}

#authContainer {
    width: 100%;
    max-width: 400px; /* Adjust this to your desired form width */
    margin: 0 auto;
}

.tab-buttons {
    display: flex;
    justify-content: space-between;
}

.tab-buttons button {
    flex: 1; /* Each button will take up an equal share of space */
    background-color: white;
    border-color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

body.darkmode .tab-buttons button {
    background-color: black;
    color: white;
}

.tab-buttons button:hover,
body.darkmode .tab-buttons button:hover {
    color: red;
}


button {
    padding: 10px 20px;
    font-size: 16px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

/* This part is related to log-in
and sign-up container */
#loginContainer,
#signupContainer {
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.darkmode #loginContainer,
body.darkmode #signupContainer {
    background-color: black;
    border-color: white;
    border: solid 2px white;
}

#loginContainer h2,
#signupContainer h2,
#loginContainer .login-submit-input,
#signupContainer .signup-submit-input {
    margin-block: 0.83em;
}

#loginContainer form,
#signupContainer form,
#myModal form {
    display: flex;
    flex-direction: column;
}

#loginContainer .login-submit-input,
#signupContainer .signup-submit-input,
#myModal .information-submit-input {
    align-self: center;
}

#loginContainer input[type="text"],
#loginContainer input[type="password"],
#signupContainer input[type="text"],
#signupContainer input[type="password"],
#signupContainer input[type="number"],
#myModal input[type="text"],
#myModal select {
    width: auto;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#loginContainer input[type="submit"],
#signupContainer input[type="submit"],
#myModal input[type="submit"] {
    width: auto;
    padding: 20px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#loginContainer input[type="submit"]:hover,
#signupContainer input[type="submit"]:hover
{
    background-color: #0056b3;
}

.login-email-warning,
.signup-email-warning {
    color: red;
    margin-bottom: 10px;
}

/* This is for other modals */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
}

body.darkmode .modal-content {
    background-color: #1a1a1a;
}

.close {
    color: #555555;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

body.darkmode .close {
    color: #aaa;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

body.darkmode .close:hover,
body.darkmode .close:focus {
    color: white;
}

/* STATUS PAGE */

#studentStatusContainer,
#staffStatusContainer {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}

body.darkmode #studentStatusContainer,
body.darkmode #staffStatusContainer {
    background-color: black;
}

#studentStatusContainer h1,
#staffStatusContainer {
    margin: 0 0 20px;
}

#studentStatusContainer button,
#staffStatusContainer button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

#studentStatusContainer button:hover,
#staffStatusContainer button:hover {
    background-color: #0056b3;
}

.status-stat-container {
    display: flex;
    flex-direction: row;
}

#studentSideQueue,
#staffSideQueue,
.ta-available {
    background-color: #f9f9f9;
    padding: 15px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

body.darkmode #studentSideQueue,
body.darkmode #staffSideQueue,
body.darkmode .ta-vailable {
    background-color: #262626;
}

#studentSideQueue h2,
#staffSideQueue h2,
.ta-available h2 {
    margin: 0 0 10px;
    text-align: center;
}

ol {
    padding-left: 20px;
}

ol li {
    margin: 5px 0;
}

.person-waiting {
    color: red;
}